/*注册*/
body{
  background:rgba(255,255,255,.5) url(../image/bg2.jpg) no-repeat; 
	background-size:cover;
	overflow:hidden;
}
#d1{
  width:500px;height:300px;
	position:relative;
	top:100px;left:50%;
}
#d1 h4{
  font-weight:normal;
	margin:0;
}
#d1 .p1 input{
  border:none;
	outline:none;
	width:300px;height:40px;
	margin:10px 0 0;
	padding-left:5px;
}
span{
  color:#f00;
}
button{
  padding:10px 40px;
	background-image:linear-gradient(to bottom,#ddd,#333);
	border-radius:3px;
	color:#efebe8;
	font:bold 12px 黑体;
	margin-left:15px;
	cursor:pointer;
}